.login-container {
    min-height: 100vh;
    background-image: url("./components/Gemini_Generated_Image_66ol6e66ol6e66ol (1).png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}